@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.hero_section {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(https://t4.ftcdn.net/jpg/07/37/04/51/360_F_737045180_CB75t3VL4jweqvbdQqrE9ZE1B0jfL2Ia.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center center;
    display: flex;
    justify-content: center;
    /* align-items: start; */

}


.hero_section_text {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    padding-top: 7%;
}

.hero_section_text .subtitle {
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;

}

.hero_section_text .title {
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25px;
}

.hero_section_text .description {
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

    margin-bottom: 25px;
}


.btn {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;

    box-shadow: 0px 0px 5px #ffff;
    border-radius: 8px;

    background: rgb(82, 195, 3);
    padding: 10px;
    margin-bottom: 20px;
}

#card_section {
    height: 100vh;
    width: 100vw;
    background: #dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    flex-direction: column;


}

.card_section_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card_section_top p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.5;
}

.card_section_top h2 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.card_section_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    /* flex-direction: column; */
}

.card_section {
    width: 20%;
    background: white;

    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.img_section {
    width: 100%;
    height: 100;

    img {
        width: 100%;
    }
}

.text_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 80%;
    padding: 20px 10px;
}

.text_section .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(103, 206, 30, 0.25);
}

.text_section .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    /* line-height: 0px; */
    letter-spacing: 0%;
    text-align: center;
}

.text_section .description {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

/* 
.banner_section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0.9) 100%), url(/assets/foods.png);
    background-repeat: no-repeat;
    background-size: cover;

} */